
// Fonts
@charset "utf-8";
@import "~bulma/bulma.sass";

.title {
  color: $success;
}

.subtitle {
  color: $info;
  font-weight: bold;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto

}
//comment
